.prevbtn{

    background-color: lightblue;
    padding:10px;
    font-size: 18px;
    box-sizing: border-box;

}

.nextbtn{
    background-color: lightblue;
    padding:10px;
    float:right;
    font-size: 18px;
    box-sizing: border-box;
}

.keyword{
    color:blue;
}
.property{
    color:red;
}

.codemain{

    padding:10px;
    width:100%;
    border:1px solid black;
    overflow-x: scroll;
    box-sizing: border-box;
}